<% if notice %>
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Well done!</strong> <%= notice %>
</div>
<% end %>
<h3>Dados da postagem</h3>
<p>
  <strong>Titulo:</strong>
  <br>
  <%= @post.titulo %>
</p>

<p>
  <strong>Descricao:</strong><br>
  <%= @post.descricao %>
</p>

<p>
  <strong>Localizacao:</strong><br>
  <%= @post.localizacao.geolocalizacao %>
</p>

<%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary' %>
<%= link_to 'Voltar', posts_path, class: 'btn btn-default' %>
